<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button size="large" fill="clear" (click)="gtNoti($event)">
        <ion-icon name="md-notifications"></ion-icon>
      </ion-button>
      <ion-button  size="large" fill="clear" href="/settings">
        <ion-icon name="md-settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>