<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="ion-padding-right ion-margin-right" fill="clear" icon-only (click)="gtNotifications()">
        <ion-icon name="md-notifications"></ion-icon>
      </ion-button>
      <ion-button class="ion-padding-right ion-margin-right" fill="clear" icon-only (click)="gtSettings()">
        <ion-icon name="md-settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

    <ion-item lines="none" class="content">
      <h1 class="title">Order</h1>
    </ion-item>
</ion-content>
  